@media only screen and (max-width: 680px) {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  :root {
    --ukuran-lebar: 38px;
    --ukuran-tinggi: 40px
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .background {
    position: fixed;
    /* Menetapkan posisi elemen menjadi tetap terhadap viewport */
    top: 50%;
    /* Memposisikan bagian atas elemen di tengah viewport secara vertikal */
    left: 30%;
    /* Memposisikan sisi kiri elemen di tengah viewport secara horizontal */
    transform: translate(-45%, -50%);
    /* Menggeser elemen ke atas dan ke kiri sebesar setengah lebar dan tingginya untuk memusatkannya secara sempurna */
    z-index: -2;
    /* Menempatkan elemen di belakang elemen lain dengan z-index yang lebih tinggi */
    width: 100%;
    /* Mengatur lebar elemen agar memenuhi lebar viewport */
    filter: blur(5px) brightness(80%) contrast(90%);
    /* Menambahkan efek blur, kecerahan, dan kontras pada elemen */
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    height: fit-content;
    width: 80%;
    height: 100%;
    padding: 1rem;
    /* border: solid 2px black; */
  }

  .logo {
    position: absolute;
    height: 30vh;
    width: auto;
    top: 3vh;
    /* border: solid 2px black; */
    margin: 0;
  }

  .text-logo {
    position: absolute;
    top: 32.5vh;
    height: 4rem;
    width: auto;
    /* border: solid 2px black; */
  }

  p {
    position: absolute;
    top: 40vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 5vw;
    margin-top: 1vh;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
  }

  .hyper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 kolom dengan lebar sama */
    grid-template-rows: repeat(3, 1fr);
    /* 3 baris dengan tinggi sama */
    top: 45vh;
    height: 50%;
    width: 100%;
    /* border: solid 2px white; */
  }


  .hyper1.satu {
    /* Elemen "satu" */
    grid-column: 1;
    grid-row: 1;
  }

  .hyper1.dua {
    /* Elemen "dua" */
    grid-column: 3;
    grid-row: 1;
  }

  .hyper1.tiga {
    /* Elemen "tiga" */
    position: absolute;
    right: 50%;
    grid-column: 2;
    grid-row: 2;
  }

  .hyper1.empat {
    /* Elemen "empat" */
    grid-column: 1;
    grid-row: 3;
  }

  .hyper1.lima {
    /* Elemen "lima" */
    grid-column: 3;
    grid-row: 3;
  }


  .hyper1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 0 0 10px white;
    border-radius: 20px;

    /* border: solid 2px green; */
  }

  .programming {
    position: absolute;
    /* Tambahkan ini */
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: calc(200px - var(--ukuran-tinggi));
  }

  .shapeProgramming {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.5);
    height: calc(133px - var(--ukuran-tinggi));
    width: calc(188px - var(--ukuran-lebar));
    border-radius: 20px;
    overflow: hidden;
  }

  .tiga {
    display: flex;
    flex-direction: column;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2rem;
    background-color: black;
  }

  h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 10px black;
  }


}