@media only screen and (max-width: 680px) {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  :root {
    --ukuran-lebar: 38px;
    --ukuran-tinggi: 40px
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .bg-loader {
    height: 100vh;
    width: 110vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .bg-loader.fade-out {
    opacity: 0;
  }

  .loader {
    width: 60px;
    display: flex;
    align-items: flex-start;
    aspect-ratio: 1;
  }

  .loader:before,
  .loader:after {
    content: "";
    flex: 1;
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
    background: var(--g), var(--g), var(--g);
    filter: drop-shadow(30px 30px 0 #fff);
    animation: l20 1s infinite;
  }

  .loader:after {
    transform: scaleX(-1);
  }

  @keyframes l20 {
    0% {
      background-position: 0 0, 10px 10px, 20px 20px
    }

    33% {
      background-position: 10px 10px
    }

    66% {
      background-position: 0 20px, 10px 10px, 20px 0
    }

    100% {
      background-position: 0 0, 10px 10px, 20px 20px
    }
  }

  .background {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
    z-index: -2;
    width: 100vw;
    height: 100vh;
    white-space: nowrap;
  }

  .bg {
    position: absolute;
    top: 10%;
    left: 50%;
    min-width: 120%;
    min-height: 120vh;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    height: fit-content;
    width: 80%;
    height: 100%;
    padding: 1rem;
    white-space: nowrap;
  }

  .logo {
    position: absolute;
    height: 30vh;
    width: auto;
    top: 1vh;
    margin: 0;
  }

  .text-logo {
    position: absolute;
    top: 30vh;
    height: 4rem;
    width: auto;
  }

  p {
    position: absolute;
    top: 38vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 5vw;
    margin-top: 1vh;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
  }

  .hyper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    top: 42.5vh;
    height: 50%;
    width: 100%;
  }

  .hyper1.satu {
    grid-column: 1;
    grid-row: 1;
  }

  .hyper1.dua {
    grid-column: 3;
    grid-row: 1;
  }

  .hyper1.tiga {
    position: absolute;
    right: 50%;
    grid-column: 2;
    grid-row: 2;
  }

  .hyper1.empat {
    grid-column: 1;
    grid-row: 3;
  }

  .hyper1.lima {
    grid-column: 3;
    grid-row: 3;
  }

  .hyper1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 0 0 10px white;
    border-radius: 20px;
  }

  .programming {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: calc(200px - var(--ukuran-tinggi));
  }

  .shapeProgramming {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 255, 255, 0.5);
    height: calc(133px - var(--ukuran-tinggi));
    width: calc(188px - var(--ukuran-lebar));
    border-radius: 20px;
    overflow: hidden;
  }

  .tiga {
    display: flex;
    flex-direction: column;
  }

  .footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100vw;
    height: 2rem;
    background-color: black;
  }

  h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-shadow: 0px 0px 10px black;
  }
}